* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  /* text-align: center; */
  font-family: sans-serif;
  font-weight: 100;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  width: 285px;
}

.timer {
  font-family: sans-serif;
  color: #fff;
  display: flex;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}



.field {
  padding: 10px;
  border-radius: 3px;
  background: #d1d1d1;
  display: inline-block;
}

.value {
  padding: 15px;
  border-radius: 3px;
  background: #9b9b9b;
  display: inline-block;
}

.label {
  display: block;
  padding-top: 5px;
  font-size: 16px
}